@model Aviacompany.Library.Models.LoginViewModel
@{
    ViewBag.Title = "Вход на сайт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .register-btn {
        margin-left: 10px;
    }
     
</style>
<h4>Введите свои учетные данные</h4>
<div class="row ">

    @Html.ValidationSummary()

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="input-field col s12">
            <label for="login">Имя</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "validate", @placeholder = "Логин", @id = "login" })
        </div>
        <div class="input-field col s12">
            <label for="password">Пароль</label>
            @Html.PasswordFor(x => x.Password, new { @class = "validate", @placeholder = "Пароль", @id = "password" })
        </div>
        <p class="grey-text text-lighten-4 register-btn">У вас нет аккаунта?<a href="@Url.Action("Register", "Register")"> Регистрация</a></p>
        <button class="waves-effect waves-light btn register-btn" type="submit">Войти</button>
        
    }
</div>