
@model Aviacompany.Library.Entities.Flight
@{
    ViewBag.Title = "Информация о рейсе №" + Model.FlightNumber;
}

<div class="row">
    <div class="col m6">
        <table class="black-text text-lighten-4 z-depth-3 red accent-1 bordered">
            <tr>
                <td>Номер рейса</td>
                <td>@Model.FlightNumber</td>
            </tr>
            <tr>
                <td>Куда</td>
                <td>@Model.FlightToCity.CityName</td>
            </tr>
            <tr>
                <td>Откуда</td>
                <td>@Model.FlightFromCity.CityName</td>
            </tr>
            <tr>
                <td>Дата вылета</td>
                <td>@Model.FlightDateTime.Day.ToString("0#").@Model.FlightDateTime.Month.ToString("0#").@Model.FlightDateTime.Year @Model.FlightDateTime.Hour.ToString("0#"):@Model.FlightDateTime.Minute.ToString("0#")</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>@Model.FlightStatus.StatusName</td>
            </tr>
        </table>
    </div>
</div>

